<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".loadmaps.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".loadmaps.view.AccountActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".loadmaps.view.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            />
        <activity
            android:name=".loadmaps.view.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
<!--            android:theme="@style/SplashTheme"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".loadmaps.view.CountryDetailsActivity" android:exported="true"></activity>
    </application>

</manifest>